$block: 'window';
.#{$block} {
	// @include bt(3px, window, false);
	margin-bottom: $vertical-spacing;
	padding: rem-calc(6);
	border: 1px solid $surface2-latte;
	border-radius: 4px;
	background-color: white;
	// ADD BOX SHADOW

	.window-inside {
		height: 60vh;
	}

	.window-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: rem-calc(28);
		padding: 0 3px;
		background-color: $lavender-latte;
		color: white;

		&:before, &:after {
			content: unset;
		}

		.window-heading {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin: 0;
			padding: 0 3px;
			font-family: $font-family-secondary;
			font-size: 12px;
		}
	}

	.window-content {
		height: calc(60vh - 3px - 40px - 36px);
		padding: 20px;
	}

	.window-footer {
		display: flex;
		justify-content: flex-end;
		padding-right: rem-calc(19);

		.button {
			@include bt(3px, button-strong);

			&:active {
				@include bt(3px, button-strong-pressed);
			}
		}
	}

	.information-container {
		// @include sh(3px, inset);
		width: 100%;
		height: 100%;
		padding: 1.5px;
		background: $wh;
	}

	.information {
		overflow-y: scroll;
		width: 100%;
		height: 100%;
		padding: 20px;
		font-family: $font-family-secondary;

		a {
			color: $mauve-latte;
		}

		h3, p, ul {
			margin: 1em 0 0;
		}

		h3:first-child {
			margin-top: 0;
		}

		ul {
			padding-left: 10px;
			list-style-type: '–';

			li {
				padding-left: 0.5em;

				&:not(:first-child) {
					margin-top: 0.25em;
				}
			}
		}
	}
}