$block: 'logo-grid';
.#{$block} {
	margin-bottom: $vertical-spacing;
	$gap: calc($gutter * 2);

	p {
		margin-bottom: 0;

	}

	&--wrap {
		display: flex;
		flex-wrap: wrap;
		gap: $gap;
		justify-content: center;
	}

	&__heading {
		margin-bottom:  $header-spacing;

	}

	&__item {
		$max-width: 50%;
		width: calc($max-width - $gap);
		font-family: $font-family-secondary;
		text-align: center;
	}

	&__image {
		position: relative;
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: spacing('md');

	
		picture,
		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: scale-down;
		}
		
	}

	&__description {
		margin-top: 0.5rem;
		color: $surface0;
		font-size: 0.85rem;
	}
}