$block: 'logo-grid';

@include media-breakpoint-up(lg) { 
	.#{$block} {
		&__item {
			$max-width: 20%;
			$gap: calc($gutter * 2);
			width: calc($max-width - $gap);
		}

		&--wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
		}
	}
}