$block: 'logo-grid';
.#{$block} { 
	position: relative;
	margin-bottom: $vertical-spacing;
	background: url('../images/hero-background-unpixelated.jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding-block: $vertical-spacing;
	$gap: calc($gutter * 2);

	@supports (hanging-punctuation: first) { // safari has a bug with background-attachment fixed https://css-tricks.com/the-fixed-background-attachment-hack/
		background-attachment: scroll;
	}

	&:after {
		position: absolute;
		inset: 0;
		background: linear-gradient(180deg, rgba($background-color, 100%) 0%, rgba($background-color, 20%) 50%, rgba($background-color, 100%) 100%);
		content: '';
	}

	.container {
		position: relative;
		z-index: 1;
	}

	p {
		margin-bottom: 0;
	}

	&--wrap {
		display: flex;
		flex-wrap: wrap;
		gap: $gap;
		justify-content: space-between;
	}

	&__heading {
		margin-bottom:  $header-spacing;

	}

	&__item {
		$max-width: 50%;
		width: calc($max-width - $gap);
		font-family: $font-family-secondary;
		text-align: center;
	}

	&__image {
		position: relative;
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: spacing('md');
		border-radius: 4px;
		background-color: $mantle-latte;
	
		picture,
		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: scale-down;
		}
		
	}

	&__description {
		margin-top: 0.5rem;
		font-size: 0.85rem;
	}
}