$block: 'window';
$block: hero;

.#{$block} { 
	$window-nav-height: 1.75rem;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;

	&--404 {
		margin-top: $vertical-spacing;

		a {
			color: $text-color;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		.#{$block}__wrap {
			height: 85%;
			text-align: center;


			p {
				padding-right: 0;
				text-align: center;
			}
		}
	}

	&__wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: fit-content;
		height: 70%;
		margin: 0 auto;
		padding: spacing('sm');
		z-index: 3;

		h1 {
			width: 100%;
			margin-right: 0;
		}

		p {
			width: 100%;
			padding-right: calc(spacing('6xl') * 1.5);
			font-family: $font-family-tertiary;
			font-size: $h4-font-size;
		}
	}

	&__image {
		position: absolute;
		top: 190px;
		right: -70px;
		left: -1000px;
		height: 80%;
		pointer-events: none;
		background: url('../images/portfolio-me-finn.png');
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
		z-index: 2;

		.hero--404 & {
			display: none;
		}
	}

	&-window {
		position: relative;

		@include crt-overlay;
		margin-bottom: calc($vertical-spacing * 1.25);
		padding: rem-calc(6);
		border: 1px solid $text;
		border-radius: 4px;
		background: url('../images/hero-background-unpixelated.jpeg');
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover; 
		z-index: 2;

		&:after {
			position: absolute;
			inset: 0;
			background: linear-gradient(180deg,rgba($background-color, 100%) 0%, rgba($background-color, 0%) 100%);
			content: '';
			z-index: -1;
		}

		&-inside {
			height: 60vh;
			min-height: 460px;
		}

		&-nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: rem-calc(28);
			padding: 0 3px;
			border: 1px solid $text;
			color: $text;

			&:before, &:after {
				content: unset;
			}

			.hero-window-heading {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin: 0;
				padding: 0 3px;
				font-family: $font-family-secondary;
				font-size: 12px;
			}
		}

		&-content {
			height: calc(60vh - 3px - 40px - 36px);
			padding: 20px;
		}
	}
}



