$block: 'window';
$block: hero;

@include media-breakpoint-up(md) { 
	.#{$block} { 
		&__wrap {
			height: 85%;
			margin-bottom: calc($vertical-spacing * 2);
			text-align: center;

			h1,
			p {
				text-align: center;
			}

			p {
				padding-right: 0;
				font-size: $h3-font-size;
			}
		}


		&__image {
			top: 150px;
			right: -130px;
			left: -1000px;
			height: 100%;
			background: url('../images/portfolio-me-finn.png');
			background-repeat: no-repeat;
			background-position: bottom right;
			background-size: contain;
		}

		&-window { 
			&-inside {
				height: 75vh;
				min-height: 650px;
			}
		}
	}
}



