html {
	overflow-x: hidden;
}

body {
	background-color:  $background-color; 
	font-family: $font-family-primary;
	overflow-x: hidden;
}

section {
	margin-bottom: $vertical-spacing;
}

code {
	color: $text-color;
}

h1 {
	font-size: $h3-font-size;
}

h2 {
	font-size: $h3-font-size;
}

h3 {
	font-size: $h4-font-size;
}

h4 {
	font-size: $h5-font-size;
}

h5 {
	font-size: $h6-font-size;
}

h6 {
	font-size: $h6-font-size;
}

.container {
	width: 90%;
}


.badge { 
	&--JS {
		background-color:  $yellow;
		color: $surface0;
	}

	&--HTML5 {
		background-color:  $peach; 
		color: $surface0;
	}

	&--CSS {
		background-color:  $mauve; 
		color: $surface0;
	}

	&--USWDS {
		background-color:  $blue; 
		color: $surface0;
	}

	&--React {
		background-color:  $teal; 
		color: $surface0;
	}

	&--SCSS {
		background-color:  $pink; 
		color: $surface0;
	}

	&--AJAX-REST {
		background-color:  $text-color; 
		color: $surface0;
	}

	&--Bootstrap {
		background-color:  $lavender; 
		color: $surface0;
	}

	&--AEM {
		background-color:  $red; 
		color: $surface0;
	}
}