$block: 'section';

@include media-breakpoint-up(lg) { 
	.#{$block} {
		&--about {
			// Leaving this in because I'm unsure how I want to present the page 
			// top: calc($vertical-spacing * -1 * 1.5);
			// margin-bottom: calc($vertical-spacing * -1 * 1.5);
			
			.#{$block}-header__wrap {
				margin-top: $vertical-spacing;

				h2 {
					width: 100%;
					text-align: center;
				}
			}

			.#{$block}-header__about {
				margin-left: $component-spacing;
			}
		}
	}
}