$block: 'footer';
.#{$block} {
	bottom: 0;
	margin-top: $vertical-spacing;
	z-index: 999;

	.container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.#{$block}-nav {
		display: flex; 
		align-items: center;
	}

	ul { 
		display: flex; 
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-bottom: 0;
		margin-left: $gutter;
		padding: 0;
		list-style: none;

		// TODO: move out into own file
		@include media-breakpoint-up(md) { 
			width: fit-content;
		}

		a {
			/* stylelint-disable-next-line declaration-no-important */
			height: rem-calc(44) !important;
			/* stylelint-disable-next-line declaration-no-important */
			padding: 5px 8px !important;
			border-radius: 0;
			margin-inline: 2px;

			@include bt(3px, button);

			&:hover,
			&:focus {
				@include bt(3px, button-reverse);
				height: auto;
				padding: 5px 8px !important;
			}
		}
	}

	&.start-menu {
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: rem-calc(70);
		padding-top: 3px;
		background-color: $g2;
		box-shadow: inset 0 1.5px 0 0 $g2, inset 0 3px 0 0 $wh;
		z-index: 999;
		// TODO: move out into own file
		@include media-breakpoint-up(md) { 
			height: rem-calc(60);
		}

		.time {
			@include nb;
			@include sh(3px, inset);
			display: grid;
			width: 100px;
			height: rem-calc(44);
			margin: 0 3px;
			margin-right: $gutter;
			margin-left: auto;
			place-items: center;
		}
	}
}

