$block: 'footer';
.#{$block} {
	margin-top: $vertical-spacing;

	.container{
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	ul { 
		display: flex; 
		align-items: center;
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			height: rem-calc(40) !important;
			padding: 5px 8px !important;
			border-radius: 0;
			margin-inline: 2px;

			@include bt(3px, button);

			&:hover,
			&:focus {
				@include bt(3px, button-reverse);
				height: auto;
				padding: 5px 8px !important;
			}
		}
	}

	&.start-menu {
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: 44px;
		padding-top: 3px;
		background-color: $g2;
		box-shadow: inset 0 1.5px 0 0 $g2, inset 0 3px 0 0 $wh;
		z-index: 10;

		.time {
			@include nb;
			@include sh(3px, inset);
			display: grid;
			width: 100px;
			height: 34px;
			margin: 0 3px;
			place-items: center;
			margin-left: auto;
		}
	}
}

